<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <meta property="og:url" content="http://localhost:3000/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="MINI GAME ONLINE!!" />
    <meta property="og:description" content="MINI GAME ONLINE!!" />
    <meta property="og:image" content="http://localhost:3000/images/home.jpg" />
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        #game-zone{
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            overflow-y: scroll;
            scroll-behavior: smooth;
        }
        #game-zone::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }
        #game{
            background-color: rgb(255, 253, 162);
            position: relative;            
            margin: auto;
            border: 1px solid #000;
            overflow: hidden;
            background-image: url(images/map.png?v=1);
            background-size: cover;
            background-repeat: no-repeat;
        }
        #chat-his{ height: calc(100vh - 220px); overflow: scroll; }
        #chat-his > .chat-message{
            background-color: rgb(197, 255, 236);
            padding: 2px 10px;
            margin: 2px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;            
            position: relative;
            font-size: 12px;
        }
        #chat-his > .chat-message-my{
            background-color: rgb(83, 255, 83);
            padding: 2px 10px;
            text-align: right;
            margin: 2px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            position: relative;
            font-size: 12px;
        }
        .chat-time{
            font-size: 10px;
            color: #333;
            bottom: 2px;
            position: absolute;
        }
        .player { position: absolute;z-index: 3;transition: all 0.2s ease; }
        .player img { z-index: 2; }
        .my { z-index: 4; }
        .pp-chat {
            background-color: #fff;
            font-weight: bolder;
            border: 1px solid;
            font-size: 10px;
            border-radius: 8px;
            position: absolute;
            top: -20px;
            padding: 3px 5px;
            white-space: nowrap;
            z-index: 100;
            box-shadow: 1px 1px 3px;
            display: none;
        }
        .pp-name{
            font-size: 10px;
            /* border: 1px solid #dfdfdf; */
            text-align: center;
            border-radius: 4px;
            padding: 0px 6px;
            margin-top: -4px;
            max-width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
        }
        #player-name{ flex: auto; overflow: hidden; }
        .player:hover { z-index: 4; }
        .player:hover > .pp-name{ background-color: rgba(0, 0, 0, 0.9); }
        .my-player {
            border-left: 2px dotted #03A9F4;
            border-right: 2px dotted #03A9F4;
            border-radius: 10px;
        }
        .data-img { display: none; }
        .btn-move{ 
            width: 70px; 
            min-height: 50px; 
            background: transparent;
        }
        .btn-move:hover{ 
            background: rgba(0, 0, 0, 0.3);
        }
        .socket-status,.player-online{ font-size: 10px; }
        .btn-console{
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            /* z-index: 4; */
        }
        .select-disable {-webkit-user-select: none;  -khtml-user-select: none;   -moz-user-select: none; -o-user-select: none;    user-select: none; }
        .footer-credit{
            position: fixed;
            width: 100%;
            bottom: 0px;
            font-size: 14px;
            z-index: 100;
        }
        @media (max-width: 576px) {
            .footer-credit{
                font-size: 10px;
            }
            .btn-console{ z-index: 5; }
            .footer-credit a{ font-size: 10px; }
            #form-chat{ 
                position: fixed;
                width: 100%;
                left: 0px;
                bottom:35px;
                padding:20px 4px;
                z-index: 100;
                background-color: rgba(0, 0, 0, 0.3); 
            }
            #form-chat input{
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    </style>
</head>

<body>
    
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-sm-9">
                <div class="card">
                    <h5 class="card-header d-flex align-items-center gap-1">
                        <div class="text-nowrap d-none d-sm-block"> Game Zone : </div>
                        <div class="w-100 d-flex">
                            <span id="player-name" class="input-group-text">xxx</span>
                            <button class="btn btn-outline-danger" type="button" onclick="window.location.reload()">
                                <i class="bi bi-box-arrow-right"></i> 
                                <span class="d-none d-md-inline">ออกจากระบบ</span>
                            </button>
                        </div>
                        <div class="text-nowrap">
                            <i class="bi bi-wifi socket-status-icon"></i> <span class="badge bg-success socket-status d-none d-md-inline">xxxx</span>
                            <i class="ml-2 bi bi-people-fill"></i> <span class="badge bg-secondary player-online">0</span>
                        </div>
                    </h5>
                    <div id="game-zone" class="card-body" style="overflow-x: scroll;">
                        <div id="game" class="select-disable" style="height: 350px;width: 900px;"></div>
                        <div class="btn-console text-center">
                            <div class="mb-1 d-flex gap-1">
                                <button type="button" class="btn btn-move" 
                                    onmousedown="obj_up = true;obj_left = true;" 
                                    onmouseup="obj_up = false;obj_left = false;"
                                    onmouseleave="obj_up = false;obj_left = false;"                                    
                                    ontouchstart="obj_up = true;obj_left = true;" 
                                    ontouchend="obj_up = false;obj_left = false;">
                                    <i class="bi bi-arrow-up-left"></i>
                                </button>
                                <button type="button" class="btn btn-move w-100" 
                                    onmousedown="obj_up = true;" 
                                    onmouseup="obj_up = false;"
                                    onmouseleave="obj_up = false;"
                                    ontouchstart="obj_up = true;" 
                                    ontouchend="obj_up = false;">
                                    <i class="bi bi-arrow-up"></i>
                                </button>
                                <button type="button" class="btn btn-move" 
                                    onmousedown="obj_up = true;obj_right = true;" 
                                    onmouseup="obj_up = false;obj_right = false;"
                                    onmouseleave="obj_up = false;obj_right = false;"
                                    ontouchstart="obj_up = true;obj_right = true;" 
                                    ontouchend="obj_up = false;obj_right = false;">
                                    <i class="bi bi-arrow-up-right"></i>
                                </button> 
                            </div>
                            <div class="mb-1 d-flex justify-content-between">
                                <button type="button" class="btn btn-move" 
                                    onmousedown="obj_left = true;" 
                                    onmouseup="obj_left = false;"
                                    onmouseleave="obj_left = false;"
                                    ontouchstart="obj_left = true;" 
                                    ontouchend="obj_left = false;">
                                    <i class="bi bi-arrow-left"></i>
                                </button>
                                <div class="w-100" style="height: 270px;"></div>
                                <button type="button" class="btn btn-move"
                                    onmousedown="obj_right = true;" 
                                    onmouseup="obj_right = false;"
                                    onmouseleave="obj_right = false;"
                                    ontouchstart="obj_right = true;" 
                                    ontouchend="obj_right = false;">
                                    <i class="bi bi-arrow-right"></i>
                                </button> 
                            </div>
                            <div class="mb-1 d-flex gap-1">
                                <button type="button" class="btn btn-move" 
                                    onmousedown="obj_down = true;obj_left = true;" 
                                    onmouseup="obj_down = false;obj_left = false;"
                                    onmouseleave="obj_down = false;obj_left = false;"
                                    ontouchstart="obj_down = true;obj_left = true;" 
                                    ontouchend="obj_down = false;obj_left = false;">
                                    <i class="bi bi-arrow-down-left"></i>
                                </button>
                                <button type="button" class="btn btn-move w-100" 
                                    onmousedown="obj_down = true;" 
                                    onmouseup="obj_down = false;"
                                    onmouseleave="obj_down = false;"
                                    ontouchstart="obj_down = true;" 
                                    ontouchend="obj_down = false;">
                                    <i class="bi bi-arrow-down"></i>
                                </button>
                                <button type="button" class="btn btn-move" 
                                    onmousedown="obj_down = true;obj_right = true;" 
                                    onmouseup="obj_down = false;obj_right = false;"
                                    onmouseleave="obj_down = false;obj_right = false;"
                                    ontouchstart="obj_down = true;obj_right = true;" 
                                    ontouchend="obj_down = false;obj_right = false;">
                                    <i class="bi bi-arrow-down-right"></i>
                                </button> 
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form id="form-chat" action="#"> 
                            <div class="input-group">
                                <input type="text" id="chat-input" class="form-control" placeholder="พิมพ์อะไรซักหน่อย" aria-label="พิมพ์อะไรซักหน่อย" maxlength="200" autocomplete="off">
                                <button class="btn btn-primary" type="submit"> <i class="bi bi-send"></i> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <h5 class="card-header">Chat Message</h5>
                    <div class="card-body p-0">
                        <div id="chat-his"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="footer-credit navbar navbar-light bg-light mt-3">
        <div class="container-fluid">
            ทำขึ้นเพื่อสอนมือใหม่ในการใช้ Socker.io - ExpressJS โดย <a href="https://www.facebook.com/kuang.side" class="btn btn-link">Kuang.dev</a>
        </div>
    </nav>
    <div class="data-img">
        <img src="images/player/player0.png">
        <img src="images/player/player1.png">
        <img src="images/player/player_move_0.png">
        <img src="images/player/player_move_1.png">
        <img src="images/player/myplayer0.png">
        <img src="images/player/myplayer1.png">
        <img src="images/player/myplayer_move_0.png">
        <img src="images/player/myplayer_move_1.png">
        <img src="images/player/player_stand.gif">
        <img src="images/player/myplayer_stand.gif">
        <img src="images/player/player_move.gif">
        <img src="images/player/myplayer_move.gif">
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.2/underscore-umd-min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const game = $('#game');
        const max_x = game.width();
        const max_y = game.height();
        var obj_up = false;
        var obj_down = false;
        var obj_left = false;
        var obj_right = false;
        var my_x = 0;
        var my_y = 0;
        const move_speed = 12;
        const game_speed = 100; 
        var gamestarted= false;  
        const playerAction = {
            init(id,name,x,y,my){
                let _my = "";
                if(my == "1"){
                    _my = "my";
                    my_x = x;
                    my_y = y;
                }
                let make = `<div id="${id}" class="player ${_my}" style="left:${x}px;top:${y}px">
                    <div class="pp-chat">message</div>
                    <img id="player_id${id}" class="player-img" title="${name}" src="images/player/${_my}player_stand.gif">
                    <div class="pp-name">${name}</div>
                </div>`;
                game.append(make);            
                setTimeout(()=>{
                    let center = (($(`#${id} .pp-name`).width()/ 2) - 11)*-1;
                    $(`#${id} .pp-name`).css({'marginLeft':center + 'px' });
                },200);
            },
            stand(data){
                if(data == undefined){
                    game.find('.player.my').find('img').attr('src','images/player/myplayer_stand.gif');
                    return;
                }
                const this_obj = game.find('#'+data.id);
                if(data.my){
                    this_obj.find('img').attr('src','images/player/myplayer_stand.gif');
                }else{
                    this_obj.find('img').attr('src','images/player/player_stand.gif');
                }

            },
            move(data){
                let this_obj = game.find('.player.my');
                if(!data.my){
                    this_obj = $('#game').find('#'+data.id);
                }
                if(data.my && this_obj.find('img').attr('src') == 'images/player/myplayer_stand.gif'){
                    this_obj.find('img').attr('src','images/player/myplayer_move.gif');                    
                }else if(this_obj.find('img').attr('src') == 'images/player/player_stand.gif'){
                    this_obj.find('img').attr('src','images/player/player_move.gif');
                }
                this_obj.css({
                    "left": ""+data.x+"px",
                    "top": ""+data.y+"px"
                });
            },
            chat(data){
                data.name = data.name.replace( /(<([^>]+)>)/ig, '');
                data.msg = data.msg.replace( /(<([^>]+)>)/ig, '');
                if(!data.msg) return;
                let ttchat;
                let txtmsg =`${data.name} : ${data.msg}`;			
                const thisplayer = $('#game').find('#'+data.id).find('.pp-chat');
                thisplayer.html(txtmsg)
                    .css('left',((thisplayer.width()/2)*-1)+13)
                    .stop()
                    .fadeIn(200,function(){
                        $(this).delay(2000).fadeOut();
                    });
                let p_txtmsg = ``;
                let timenow = new Date().toLocaleTimeString('th');
                if(data.my){
                    p_txtmsg = `
                    <p class="chat-message-my">
                        <span class="chat-time" style="left:4px">${ timenow }</span>
                        ${data.msg} : ME
                    </p>`;
                }else{
                    p_txtmsg = `
                    <p class="chat-message">
                        ${data.name} : ${data.msg}
                        <span class="chat-time" style="right:4px">${ timenow }</span>
                    </p>`;
                }

                $('#chat-his').append(p_txtmsg);
                if($('#chat-his').find('p').length > 30){
                    $('#chat-his').find('p').eq(0).remove();
                }
                document.getElementById('chat-his').scrollTop = document.getElementById('chat-his').scrollHeight;
            },
            remove(id){
                $('#'+id).remove();
            }

        };

        function focusMyPlayer(){
            const p_left = $('.player.my').position().left;
            const gamezone_w = $('#game-zone').width();
            const gamezone_sl = $('#game-zone').scrollLeft();
            const game_w = $('#game').width();
            if(p_left - gamezone_sl < 80 && p_left > 80){
                console.log('left...')
                $('#game-zone').scrollLeft(gamezone_sl - (move_speed+4));
            }else if((p_left - (gamezone_w+gamezone_sl))  > -100 && (game_w-p_left) > 100){
                console.log('right...')
                $('#game-zone').scrollLeft(gamezone_sl + (move_speed+4));
            }
        }

        var sendStand = _.debounce(function () {
            socket.emit('stand', { x:my_x,y:my_y });
        },100)
        

        function gamestart(){
            //move
            gamestarted = setInterval(function(){
                    my_x = parseInt(my_x || 0);
                    my_y = parseInt(my_y || 0);
                    if(my_y > 0 && obj_up){
                        my_y-=move_speed;
                        playerAction.move({x : my_x, y : my_y, my: true })
                        socket.emit('move', {x : my_x, y : my_y})
                    }
                    if(my_y < (parseInt(max_y)-30) && obj_down){ 
                        my_y+=move_speed;
                        playerAction.move({x : my_x, y : my_y, my: true })
                        socket.emit('move', {x : my_x, y : my_y})
                    }
                    if(my_x >0 && obj_left){ 
                        my_x-=move_speed;
                        playerAction.move({x : my_x, y : my_y, my: true })
                        socket.emit('move', {x : my_x, y : my_y})
                    }
                    if(my_x < (parseInt(max_x)-30) && obj_right){ 
                        my_x+=move_speed;
                        playerAction.move({x : my_x, y : my_y, my: true })
                        socket.emit('move', {x : my_x, y : my_y})
                    }
                    focusMyPlayer();
            },game_speed);
        }  
        
    
    
    //===============even===========================================================
    
        $('#form-chat').on('submit',function(e){ // #form-chat on  submit
            e.preventDefault();
            var txtname = $('#myname').val();
            var txtmsg = $('#chat-input').val().substring(0, 200);	
            socket.emit('chat', { msg: txtmsg });
            $('#chat-input').val('');
            $('#chat-input').focus();
        }) 
        $('body').keydown(function(e) {
            // up = 38 down = 40 left = 37 right = 39
            if([38,40,37,39,13].indexOf(e.which) > -1){
                if(e.which == 38) {obj_up = true;e.preventDefault();}
                if(e.which == 40) {obj_down = true;e.preventDefault();}
                if(e.which == 37) {obj_left = true;e.preventDefault();}
                if(e.which == 39) {obj_right = true;e.preventDefault();}	
                if(e.which == 13) {$('#chat-input').focus();}
                e.preventDefault();
            }
        });
        $('#chat-input').keydown(function(e) {
            if(e.which == 13) {
                $('#form-chat').submit();
            }
        });
        $('body').keyup(function(e) {
            // up = 38 down = 40 left = 37 right = 39
            if([38,40,37,39].indexOf(e.which) > -1){
                if(e.which == 38) {obj_up = false;e.preventDefault();}
                if(e.which == 40) {obj_down = false;e.preventDefault();}
                if(e.which == 37) {obj_left = false;e.preventDefault();}
                if(e.which == 39) {obj_right = false;e.preventDefault();}
                if(!obj_up && !obj_down && !obj_left && !obj_right){
                    sendStand();
                }
                e.preventDefault();		
            }	
        });
        $('.btn-move')
        .on('mouseup',sendStand)
        .on('mouseleave',sendStand)
        .on('touchend',sendStand);

    


    //===============Socket Even===========================================================
        socket.on("connect", async () => {
            if(!socket.connected){
                $('.socket-status-icon').css('color','red');
                Swal.fire({
                    icon: 'error',
                    title: 'Server Disconnect',
                    text: 'please start server socket.io!',
                    showCancelButton:false,
                    showConfirmButton:false,
                    allowOutsideClick: false
                })
            }else{          
                $('.socket-status-icon').css('color','green');   
                $('.socket-status').text('Connected');
                if(!socket.name){
                    let { value: PlayerName } = await Swal.fire({
                        title: 'ระบุชื่อตัวละคร',
                        input: 'text',
                        allowOutsideClick: false,
                        inputAttributes: {
                            maxlength: 20,
                            autocapitalize: 'off',
                            autocorrect: 'off'
                        },
                        inputValidator: (value) => {
                            if (!value) {
                                return 'กรุณาระบุชื่อผู้เล่น!'
                            }
                        }
                    })

                    if (PlayerName) {
                        PlayerName = PlayerName.replace( /(<([^>]+)>)/ig, '');        
                        $('#player-name').text(PlayerName);
                        var px = Math.floor(Math.random() * (max_x-30));		
                        var py = Math.floor(Math.random() * (max_y-30));
                        my_x = px;
                        my_y = py;
                        socket.emit("register", { id:socket.id,name:PlayerName,x:px,y:py });
                    }
                }

                setTimeout(() => {
                    if(!gamestarted){
                        gamestart();
                    }
                }, 300);
            }
        });

        socket.on('online',  async ({ newPlayer, players })=>{
            console.log(newPlayer, players);
            if(newPlayer.id == socket.id){
                $('.player').remove();
                players.forEach((item,index)=>{
                    playerAction.init(item.id, item.name, item.x, item.y, socket.id == item.id);
                });
                $('.player-online').text(players.length);
                const p_left = await players.find(item=>item.id==socket.id).x;
                $('#game-zone').scrollLeft(p_left - ($('#game-zone').width() / 2));
            }else{
                playerAction.init(newPlayer.id, newPlayer.name, newPlayer.x, newPlayer.y, socket.id == newPlayer.id);
                $('.player-online').text(players.length);
            }          
        });

        socket.on('offline',  async ({ id , playeronline})=>{
            $('.player-online').text(playeronline);
            playerAction.remove(id);
        });
        

        socket.on('stand', (player)=>{
            console.log(player);
            playerAction.stand({...player, my: socket.id == player.id })
        });

        socket.on('move', (player)=>{
            if(socket.id != player.id){
                playerAction.move({...player, my: socket.id == player.id })
            }
        });

        socket.on('chat', (player)=>{
            playerAction.chat({...player, my: socket.id == player.id })
        });

        socket.on('alert', (data)=>{
            toastr[data.status](data.msg);
        });


    </script>
</body>

</html>